# Base de Datos MongoDB
MONGO_DB_NAME=pbb_local
MONGO_USER=pbb_user
MONGO_PASSWORD=pbb_password
MONGO_PORT=27017
MONGO_HOST=localhost

# Autenticación JWT
JWT_SECRET=tu-clave-secreta-muy-segura

# Aplicación
NODE_ENV=development
PORT=3000

# CORS
FRONTEND_URL=http://localhost:3000
ADMIN_PANEL_URL=http://localhost:3001

# Seed Database
ROOT_USERNAME=admin
ROOT_EMAIL=admin@pbb.local
ROOT_PASSWORD=SecurePassword123!
